.visor {
    width: auto;
    
    display: flex;
    flex-direction: row;
    height: calc( 100vh - 0rem);
    color: var(--text-primary);
    font-size: var(--font-size-body);
    border-radius: var(--border-radius);

    &__leftPanel {
        width: 300px;
        background: var(--background-d1);
        height: auto;

        padding: 1rem;
    }

    &__title {
        font-size: var(--font-size-header);
        //font-weight: bold;
        line-height: 1.2;

        padding: 1rem 0rem;
        border-bottom: 2px solid var(--text-primary);
        margin-bottom: 1rem;
        //border: 1px solid red;
    }

    &__titleItalic {
        font-family: 'Space Mono', monospace;
        font-style: italic;
    }

    &__titleBold {
        font-family: 'Space Mono', monospace;
        font-weight: bold !important;
    }

    &__summary {
        background-color: var(--background);
        padding: 1rem;
        border-radius: var(--border-radius);
    }

    &__mapContainer {
        background: peachpuff;
        flex: 1;
        position: relative;


        .mapboxgl-control-container {
            display: none !important;
        }

        [mapboxgl-children] {
            display: none !important;
        }
    }

    &__topButtons {
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 0.2rem;
        //max-width: 180px;
    }

    &__dropDowns {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        border: 1px solid red;
        //width: 329px;     //creo que esta muy larga
    }

}

.visor__button:hover,
.visor__button:focus,
.visor__button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}