.visor {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    color: var(--text-primary);
    font-size: var(--font-size-body);
    border-radius: var(--border-radius);
    overflow: hidden;

    &__leftPanel {
        width: min(44.08dvh, 25.78dvw);
        background: var(--background-d1);
        display: flex;
        justify-content: center;
        position: relative;
        //overflow-y: auto;
    }

    &__panelContent {
        width: 81.41%;
        display: flex;
        flex-direction: column;
        gap: min(2dvh, 1.16dvw);
        overflow-y: auto;
        //overflow-x: visible;
        padding: min(2dvh, 1.16dvw) 0;
        //overflow: visible;
    }

    &__title {
        font-family: 'Space Mono', monospace;
        font-size: var(--font-size-visor-header);
        padding-bottom: min(2dvh, 1.16dvw);
        border-bottom: 0.1em solid var(--text-primary);

        .italic {
            font-style: italic;
        }
        .bold {
            font-weight: 700;
        }
    }

    &__description {
        //font-size: var(--font-size-body);
        margin-bottom: min(1dvh, 0.5dvw);
    }

    &__mapContainer {
        background: peachpuff;
        flex: 1;
        position: relative;

        .mapboxgl-control-container {
            display: none !important;
        }

        [mapboxgl-children] {
            display: none !important;
        }
    }

    &__dropDowns {
        position: absolute;
        top: min(3dvh, 1.75dvw);
        right: min(3dvh, 1.75dvw);
        display: flex;
        flex-direction: column;
        gap: min(0.5dvh, 0.3dvw);
        width: min(29.35dvh, 17.16dvw);
        z-index: 1;
    }

    &__layerTooltip {
        position: absolute;
        z-index: 10;
        //background-color: rgba(0,0,0,0.8);
        background-color: rgba(241, 240, 238, 0.8);
        padding: min(0.5dvh, 0.3dvw) min(1dvh, 0.6dvw);
        border-radius: var(--border-radius);
        font-size: var(--font-size-body);
        font-weight: 700;
        //maxWidth: 220
    }

    &__legend {
        position: absolute;
        right: min(3dvh, 1.75dvw);
        bottom: min(3dvh, 1.75dvw);
        width: min(29.30dvh, 17.13dvw);
        height: min(24.3dvh, 14.22dvw);
        //border: 1px solid red;
        //min-height: min(20dvh, 10dvw);
    }
    &__downloadCard {
        position: absolute;
        top: 10%;
        left: min(3dvh, 1.75dvw);
        //width: min(68dvh, 40dvw);
        //height: min(64dvh, 37dvw);
        //display: flex;
        z-index: 10;
    }


    
}

$tematicas: (
  ambiental: var(--ambiental-primary),
  industria: var(--industria-primary),
  equipamiento: var(--equipamiento-primary),
  poblacion: var(--poblacion-primary)
);

@media (max-width: 800px) {
    .buttonGroup {
        display: flex;
        flex-direction: column;
        gap: min(1dvh, 1dvw);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;

    }
    .visor {
        &__buttonRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: min(1dvh, 1dvw);
            height: min(6dvh, 7dvw);
            padding: 0;
            .topButton,
            .lowerButton {
                background-color: var(--background-dark);
                color: white;
                font-size: var(--font-size-header);
                //font-size: min(2dvh, 3.2dvw);
                align-items: center;
                display: flex;
                border-radius: var(--border-radius);
                justify-content: center;
            }
            .topButton--selected {
                //flex: 1 1 60%;
                background-color: rgba(30, 30, 30, 1); 
            }
            /*.topButton {
                flex: 1 1 20%;
                min-width: 0;
                transition: flex-basis 0.3s;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &--selected {
                    flex: 1 1 60%;
                    background-color: rgba(30, 30, 30, 1); 
                }
            }*/
            @each $key, $color in $tematicas {
            .lowerButton--#{$key} {
                background-color: #{$color};
                &.lowerButton--selected {
                background-color: var(--#{$key}-primary-strong);
                }
            }
            }
        }
        &__centerPanel {
            width: 100%;
            max-height: 45dvh;
            height: 45dvh; // <-- AGREGA ESTA LÃNEA
            display: flex;
            flex-direction: column;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s linear;
            justify-content: flex-end;

            &--visible {
                opacity: 1;
                pointer-events: auto;
                z-index: 20;
            }
        }
    }
}