.visor {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    color: var(--text-primary);
    font-size: var(--font-size-body);
    border-radius: var(--border-radius);
    overflow: hidden;

    &__leftPanel {
        width: 25.78dvw;
        background: var(--background-d1);
        display: flex;
        justify-content: center;
    }

    &__panelContent {
        width: 81.41%;
        display: flex;
        flex-direction: column;
        gap: 2dvh;
        overflow-y: auto;
        padding: 2dvh 0;
    }

    &__title {
        font-family: 'Space Mono', monospace;
        font-size: var(--font-size-visor-header);
        padding-bottom: 2dvh;
        border-bottom: 2px solid var(--text-primary);

        .italic {
            font-style: italic;
        }
        .bold {
            font-weight: 700;
        }
    }

    &__description {
        font-size: var(--font-size-subtitle);
        margin-bottom: 1dvh;
    }

    &__mapContainer {
        background: peachpuff;
        flex: 1;
        position: relative;

        .mapboxgl-control-container {
            display: none !important;
        }

        [mapboxgl-children] {
            display: none !important;
        }
    }

    &__dropDowns {
        position: absolute;
        top: 2dvh;
        right: 2dvw;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 17.13dvw;
    }
}