.info-tooltip {
    display: flex;
    flex-direction: column;
    background-color: rgb(254,253,252,0.8);
    border: 1.5px solid var(--background-medium);
    border-radius: 0.3dvw;
    font-size: var(--font-size-subtitle);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    padding: 1dvw;
}

.source {
    font-size: var(--font-size-button);
    font-weight: 700;
}