.body {
  z-index: 1;
  //width: 100%;
  height: 100%;
  //box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4vw;
  padding-right: 8vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  //padding: 2em 8vw 2em 4vw;
 // gap: 6vw;
  //position: relative;

  &__buttonColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    font-family: monospace;
  }

  &__button {
    height: 14vh;
   // box-sizing: border-box; //padding no crece el boton fuera de buttonColumn
    white-space: normal;
    word-break: break-word;
    padding: 0em 6em;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 0.5em;
    border: 0.08em solid #c4c4c4;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-subtitle);
    color: black;

  }

  &__buttonText {
    font-weight: bold;
    line-height: 1.2;
  }

  &__buttonIcon {
    position: absolute;
    right: -1.7em;
    top: 50%;
    transform: translateY(-50%);
    height: 3.5em;
    border-radius: 50%;
  }

  

  &__derecha {
    //width: 100%;
    width: 50vw;
    height: 100%;
  }

  &__box {
    margin-right: 1em;
    height: 100%;
    position: relative;
    font-size: var(--font-size-body);
  }

  &__closeButton {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: -0.3em;
    right: 0.3em;
    height: 3.75em;
    width: 3.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    border: none;
  }

  &__closeIcon {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}

//right buttons
.visor-button {
  position: absolute;
  top: 20dvh;
  right: 3dvh;

  button {
    background-color: transparent;
    border-radius: 99px;
    padding: 0.2rem;
    
    .icon {
      color: var(--icon-color, #333);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }
  button:hover,
  button:focus-visible {
    background-color: #f5ede3;
    border: 1px solid #f5ede3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .icon {
      transform: scale(1.1);
      background-color: #f5ede3;
    }
  }
}

.speed-dial {
    position: absolute;
    right: 2dvw;
    bottom: 15dvh;
    gap: 2.5dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
        
      button {
        cursor: pointer;
        display: inline-flex;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 99px;
        border-bottom-right-radius: 99px;
        padding: 0 0 0 12px;
        align-items: center;
        background-color: transparent;
        transition: all 0.3s ease;


        .button-text {
          font-size: var(--font-size-body);
          opacity: 0;
          visibility: hidden;
          margin-right: 0;
          font-family: 'Playfair Display', serif;
          font-style: italic;
          transition: all 0.3s ease;
        }

        .icon {
          height: 8dvh;
          width: 8dvh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 50%;
          transition: transform 0.3s ease;

          img {
            height: 6dvh;
            width: auto;
          }

          &:hover,
          &:focus-visible {
            background-color: #f5ede3;
            border: 1px solid #f5ede3;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .icon {
              transform: scale(1.1);
              background-color: #f5ede3;
            }

            .button-text.hidden {
              opacity: 0;
              visibility: hidden;
            }
          }
        }

      

      /*&:hover .button1,
      .button1:focus-visible {
        background-color: #f5ede3;
        border: 1px solid #f5ede3;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .icon {
          transform: scale(1.1);
          background-color: #f5ede3;
        }
      }*/

      //esta escondido
      /*&:hover .button-text:not(.hidden),
      &:focus-visible .button-text:not(.hidden) {
        opacity: 1;
        visibility: visible;
        margin-right: 1dvw;
        background-color: #f5ede3;
        .icon {
          transform: scale(1.1);
          background-color: #f5ede3;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }*/

    
//no esta escondido
      &:hover .button-text:not(.hidden),
      &:focus-visible .button-text:not(.hidden) {
        opacity: 1;
        visibility: visible;
        margin-right: 1dvw;
        background-color: #f5ede3;
        border: 1px solid #f5ede3;

        .icon {
          transform: scale(1.1);
          background-color: #f5ede3;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.speed-dial__item button:focus,
.speed-dial__item button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}


.subtitle-card {
  font-weight: bold;
  font-size: var(--font-size-subtitle);
  font-family: monospace;
}
.bodytext-card {
  font-size: 1em;
  font-family: 'Playfair Display', serif;
}



.card_content_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1em 0;
}

.body__button:hover {
  border: 0.08em solid #c4c4c4;
  box-shadow: 0px 0.25em 0.125em rgba(0, 0, 0, 0.1);
}
.body__button--selected,
.body__button--selected:hover {
  box-shadow: 0 0.25em 0.125em rgba(0, 0, 0, 0.1);
}

.body__closeButton:hover,
.body__closeButton:active {
  border-color: transparent !important;
  border: none !important;
  background-color: transparent !important;
}

.body__closeButton:focus,
.body__closeButton:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.body__closeIcon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.body__button:focus,
.body__button:focus-visible {
  outline: none !important;
  //border-color: transparent !important;
}





/* CONTENIDO DE TARJETAS */
.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  //padding-right: 1.5rem;
  padding-right: 1.5em;
  //padding-left: 1.5rem;
  padding-left: 1.5em;
  //padding-top: 2.7rem;
  padding-top: 2.5em;
  //padding-bottom: 1.5rem;
  padding-bottom: 1.5em;
  //border: 3px solid black;
}

.scrollable {
  width: 100%;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: auto; 
  //padding-right: 1rem; 
  padding-right: 1em;
  //padding-left: 1rem; 
  padding-left: 0.5em;
  gap: 2em; 
  display: flex; 
  flex-direction: column; 
  height: 100%;
  //border: 2px solid blue;
  text-align: justify;
}

/* SCROLLBAR STYLES */
.scrollable::-webkit-scrollbar {
  //width: 20px;
  width: 1.25em;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
  border: 0.08em solid black;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #9f5548;
  border: 0.08em solid transparent;
  background-clip: content-box;
}

/* Flecha arriba */
.scrollable::-webkit-scrollbar-button:vertical:start:decrement {
  background: url('/assets/ARROW_UP.png') center center no-repeat;
  background-size: 20px 20px;
  height: 20px;
  border: 1px solid #333;
}

/* Flecha abajo */
.scrollable::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url('/assets/ARROW_DOWN.png') center center no-repeat;
  background-size: 20px 20px;
  border: 1px solid #333;
  height: 20px;
}