.card {
  position: relative;
  height: 100%;
  //width: 100%;
  font-size: var(--font-size-body);
  border-radius: 0.15dvw;
  padding: min(2.5dvh, 1.5dvw);
  border: 1px solid #40423d;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.scroll-content {
  overflow-y: scroll;
  padding-right: min(3.4dvh, 2dvw);
  //width: 100%;
  height: 100%;
}

.scroll-content .os-scrollbar-vertical {
  width: min(1.7dvh, 1dvw);
  border: 1px solid black;
  padding: 0;
  height: 80%;
  align-self: center;
}

.scroll-content .os-scrollbar-handle {
  background: #af6864;
  border-radius: 0;
  &:hover {
    background: #af6864;
  }
}

.closeButton {
  position: absolute;
  //right: calc(1.5dvw - 0.5 * 1.1dvw); // 1.5dvw menos la mitad de la scrollbar
  right: calc(min(2.5dvh, 1.5dvw) - 0.5 * min(1.85dvh, 1.1dvw));
  //right: calc(1.5dvw - 0.5 * (0.5* min(3.7dvh, 2.2dvw))); // 1.5dvw menos la mitad del botón
  top: min(1.5dvh, 0.87dvw);
  width: min(3.7dvh, 2.2dvw);
  height: min(3.7dvh, 2.2dvw);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.downloadButton {
  position: absolute;
  //right: calc(1.5dvw - 0.5 * 1.5dvw);
  right: calc(min(2.5dvh, 1.5dvw) - 0.5 * min(2.5dvh, 1.5dvw));
  bottom: min(1.5dvh, 0.8dvw);
  width: min(5.1dvh, 3dvw);
  height: min(5.1dvh, 3dvw);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 2dvh;

  &__title {
    font-family: 'Roboto Mono';
    font-size: var(--font-size-header);
    font-weight: 700;
  }
  &__text {
    font-size: var(--font-size-subtitle);
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 2dvw;
  }
  &__img {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .closeButton {
    right: calc(1.5dvw - 0.5 * 1.5dvw);
    width: 3dvw;
    height: 3dvw;
  }

  .cardContent {
    &__title {
      font-size: min(2dvh, 3.2dvw);
    }
  }

  .card {
    &.mobile {
      padding: min(2dvh, 3dvw);
    }
  }
  .scroll-content {
    padding-right: 3dvw;
  }
  .downloadButton{
    width: 9dvw;
    height: 9dvw;
  }
  .scroll-content .os-scrollbar-vertical {
    width: 2dvw;
  }
}