.page-header {
  width: 100%;
  padding: 0 9vw 0 4vw;
  height: min-content;

  &__logo {
    padding: 1.5em 0;
    margin-left: 0;
    border-bottom: 0.125em solid black;;
    width: 100%;
  }

  &__title {
    font-size: 2em;
    line-height: 1.2;
  }

  &__titleItalic {
    font-family: 'Space Mono', monospace;
    font-style: italic;
  }

  &__titleBold {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
  }

  &__line {
    width: 80vw;
    background-color: var(--border-color, gray);
  }

  * {
    box-sizing: border-box;
  }

}
