.page-header {
  padding-left: 4vw;
  display: flex;
  align-items: flex-start;
  position: relative;
  height: min-content;


  &__logo {
    width: 88%;
    padding: 1.5em 0;
    border-bottom: 0.25em solid black;
    position: relative;
  }

  &__title {
    font-size: var(--font-size-title);
    line-height: 1.2;

    &__italic {
      font-family: 'Space Mono', monospace;
      font-style: italic;
    }

    &__bold {
      font-family: 'Space Mono', monospace;
      font-weight: bold;
    }
  }

  * {
    box-sizing: border-box;
  }

}
.button_visor {
  position: absolute;
  left: calc(100% - 8vw);
  bottom: 0%;
  transform: translateY(50%);
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  padding: 0.2dvh;
  background-color: transparent;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.button_visor:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--background-d1);
  transform: scale(1.05) translateY(50%);
  border: none;
}

.button_visor:focus,
.button_visor:focus-visible {
  outline: none !important;
  border-color: transparent !important;
}

/*
  .visor-button {
  position: absolute;
  top: 100%;
  left: calc(90% + 1dvw);

  button {
    background-color: transparent;
    border-radius: 99px;
    padding: 0.2rem;
    
    .icon {
      color: var(--icon-color, #333);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }
  button:hover,
  button:focus-visible {
    background-color: #f5ede3;
    border: 1px solid #f5ede3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .icon {
      transform: scale(1.1);
      background-color: #f5ede3;
    }
  }
}

.visor-button button:focus,
.visor-button button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}*/