.toolbar {
  display: flex;
  gap: 0.65vw;
  justify-content: flex-start;
  position: absolute;
  top: 2vw;
  left: 2vw;
  height: 2.5vw;
}

.button_group {
  height: 100%;
}

.button {
  height: 100%;
  width: 3.5vw;
  min-width: 2vw;
  padding: 0;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark);

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.button--thin {
  width: 2vw;
  background-color: #6f6f6f;
}
.button--thin.button--active {
  background-color: var(--background-dark);
}


.toolbar .button:hover {
  border-color: transparent !important;
  background-color: #32332f;
}

.toolbar .button:focus,
.toolbar .button:focus-visible {
  outline: none !important;
}

.circle {
  position: absolute;
  top: 0.1vw;
  right: 0.1vw;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.5vw;
}

// Slider styles
.slider {
  max-width: 18dvw;
  border-radius: 0.5dvw;
  background-color: var(--background-dark);
  padding: min(0.52dvw, 0.89dvh) min(0.78dvw, 1.33dvh);
  position: absolute;
  top: calc(2dvw + 2.5dvw + 0.5dvw); // top + toolbar height + gap
  left: 6dvw;
}

.chakra-slider__root {
  height: 4dvh;
  min-height: 0;
}

.chakra-slider__track {
  height: 0.4dvh;
}

.chakra-slider__thumb {
  width: min(1dvw, 2.5dvh);
  height: min(1dvw, 2.5dvh);
  background-color: var(--background-medium);
  border: none;
}

.chakra-slider__marker {
  gap: 0.9vh;
}

.chakra-slider__marker-label {
  font-size: min(0.67dvw, 1.15dvh);
  line-height: 1;
  color: white;
}
