.toolbar {
  //position: absolute;
  //top: min(3dvh, 1.75dvw);
  //left: min(3dvh, 1.75dvw);
  display: flex;
  gap: 0.65dvw;
  justify-content: flex-start;
  //height: min(3.65dvh, 2.13dvw);
  height: min(4.5dvh, 2.6dvw);
}

.button_group {
  height: 100%;
}

.button {
  height: 100%;
  width: 2.8dvw;
  //width: 2.5dvw;
  min-width: 2.8dvw;
  padding: 0;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark);
}
.button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.button--thin {
  width: 1.8dvw;
  min-width: 1.8dvw;
  background-color: #6f6f6f;
}
.button--thin.button--active {
  background-color: var(--background-dark);
}


.toolbar .button:hover {
  border-color: transparent !important;
  background-color: #32332f;
}

.toolbar .button:focus,
.toolbar .button:focus-visible {
  outline: none !important;
}

// Slider styles
.slider {
  border-radius: 0.5dvw;
  background-color: var(--background-dark);
  padding: min(0.52dvw, 0.89dvh) min(0.78dvw, 1.33dvh);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(8px);
  top: 100%;
  z-index: 10;
}


.chakra-slider__root {
  height: 4dvh;
  min-height: 0;
}

.chakra-slider__track {
  height: 0.4dvh;
}

.chakra-slider__thumb {
  width: min(1dvw, 2.5dvh);
  height: min(1dvw, 2.5dvh);
  background-color: var(--background-medium);
  border: none;
}

.chakra-slider__marker {
  gap: 0.9vh;
}

.chakra-slider__marker-label {
  font-size: min(0.67dvw, 1.15dvh);
  line-height: 1;
  color: white;
}

@media (max-width: 800px) {
  .toolbar {
    height: min(6dvh, 8dvw);
    position: static;
    justify-content: center;
  }

  .button {
    width: min(6dvh, 8dvw);
    min-width: min(6dvh, 8dvw);
  }
  .button--thin {
    width: min(4dvh, 6dvw);
    min-width: min(4dvh, 6dvw);
  }

  //slider styles
  .slider {
    padding: min(0.52dvw, 0.89dvh) min(2dvw, 1dvh);
  }

  .chakra-slider__thumb {
    width: min(1.5dvw, 2.5dvh);
    height: min(1.5dvw, 2.5dvh);
  }

  .chakra-slider__marker-label {
    font-size: min(2dvw, 1dvh);
  }
}