.tematica-container {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 250px;

  &__main-trigger {
    background-color: #bdbdbd;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 0.2rem;
    padding: 0.25rem 1rem

  }

  &__main-title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &__main-indicator {
    color: gray;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }

  &__sub-accordion {
    padding: 0rem;
    margin-top: 0rem;
    width: 100%;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  &__section-trigger {
    background: #424242;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 0 !important;
    border: none !important;

    padding: 0.25rem 1rem !important;
  }

  &__section-title {
    font-weight: 200;
    font-size: 0.9rem;
  }
}

.tematica-container__main-trigger:focus,
.tematica-container__main-trigger[aria-expanded="true"],
.tematica-container__main-trigger:active 
{
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}


.tematica-container__section-trigger:focus,
.tematica-container__section-trigger[aria-expanded="true"],
.tematica-container__section-trigger:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Quita el padding y el fondo blanco del panel del segundo accordion */
.tematica-container .chakra-accordion__itemContent,
.tematica-container .chakra-accordion__itemBody {
  padding: 0 !important;
  background: #f5f5f5 !important;
}

.tematica-container__section-trigger:hover {
  background: #363636 !important;
  cursor: pointer;
}

.tematica-container__main-trigger:hover {
  background: #a1a1a1 !important;
  cursor: pointer;
}