.accordion {
  &__item {
    border-radius: 0 0 0.3vw 0.3vw;
  }
  &__body {
    padding: 0;
    border-radius: 0;
  }
  &__content {
    border-radius: 0;
  }
  &__subcontent {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 0 0.8dvw;
  }
}

.checkbox {
  padding: 0.2dvh 0;
  border-bottom: 1px solid gray;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.6vw;
    min-height: 2vw;
  }

  &__label {
    font-size: var(--font-size-body);
    font-family: 'Roboto', sans-serif;
    flex: 1;
    line-height: 1.2;
    text-transform: lowercase;
    font-weight: 300;
    font-style: italic;
  }
  &__label--bold {
    font-weight: 500;
  }
  &__image_container {
    width: 2vw;
    height: 1.8vw;
    display: flex;
    padding: 0;
  }

  &__image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:last-child {
    border-bottom: none;
  }
}

.chakra-checkbox__control {
  width: 1.1dvw;
  height: 1.1dvw;
  min-width: 1dvw;
  min-height: 1dvw;
}

.chakra-checkbox__control[data-state="unchecked"] {
  border-color: rgb(112, 112, 112);
  background: #d1d1d1da !important;
}

.chakra-checkbox__control[data-state="checked"] {
  background: #a2b687;
  border-color: #a2b687;
}

.dropdown {
  background-color: var(--background-dark);
  color: white;
  padding: 0;
  gap: 0;
  border-radius: 0.15dvw;
  line-height: normal;
  font-size: var(--font-size-subtitle);
  font-family: 'Roboto';

  &__title {
    border-right: 1px solid white;
    flex: 1;
    padding: 0.6vh 0.6vw;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__indicator {
    color: white;
    padding: 0 0.5vw;
  }
  &--light {
    background-color: var(--background-medium);
    border-radius: 0;

    .dropdown__title {
      border-right: 1px solid gray;
      font-weight: 300;
    }

    .dropdown__indicator {
      color: gray;
    }
  }
}

.dropdown:focus,
.dropdown:focus-visible,
.dropdown:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.dropdown[aria-expanded="true"] {
  border-radius: 0.15dvw 0.15dvw 0 0;
}
.dropdown:hover {
  background: #3b3b3b !important;
  border-color: #3b3b3b;
}
.dropdown--light:hover {
  background: #b3b3b3  !important;
  border-color: #b3b3b3 ;
}