.dropdown {
  background-color: var(--background-dark);
  color: white;
  border-radius: var(--border-radius);
  font-size: var(--font-size-subtitle);
  padding: 0;
  gap: 0;
  line-height: normal;
  display: flex;

  &__title {
    flex: 1;
    padding: 0.6dvh 0.6dvw;
    border-right: 1px solid white;
    font-weight: 400;
    align-items: center;
  }
  &__indicator {
    color: white;
    display: flex;
    justify-content: center;
    min-width: 2.2dvw;
  }

  &--light {
    background-color: var(--background-medium);
    border-radius: 0;
    //border: none;

    .dropdown__title {
      border-right: 1px solid gray;
      font-weight: 300;
    }
    .dropdown__indicator {
      color: gray;
    }

    &.dropdown--last {
      border-radius: 0 0 0.1vw 0.1vw;
    }
  }
}

.accordion {
  &__item {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  &__body {
    padding: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: 1px solid gray;
    border-top: none;
  }
  &__content {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  &__subcontent {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 0 0.8dvw;
  }
}

.checkbox {
  border-bottom: 1px solid gray;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.6dvw;
  }

  &__label {
    font-size: var(--font-size-body);
    flex: 1;
    line-height: 1.2;
    text-transform: lowercase;
    font-weight: 300;
    font-style: italic;
    padding: 0.7dvh 0;

    &--bold {
      font-weight: 500;
    }
  }
 
  &__image_container {
    height: min(3.5dvh, 1.8dvw);

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

// Personalized Chakra Checkbox
.chakra-checkbox__control {
  width: min(1dvw, 2dvh) ;
  height: min(1dvw, 2dvh);
  border-radius: 0.1dvw;
}
.chakra-checkbox__control[data-state="unchecked"] {
  border-color: var(--background-dark);
  background-color: var(--background-medium);
}
.chakra-checkbox__control[data-state="checked"] {
  background: var(--ambiental-primary);
  border-color: var(--ambiental-primary);
}

// Dropdown triggers
.dropdown--tematica {
  border-radius: var(--border-radius);
}
.dropdown--tematica[aria-expanded="true"] {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.dropdown:hover {
  background: #3b3b3b !important;
  border-color: #3b3b3b;
}
.dropdown--light:hover {
  background: #b3b3b3  !important;
  border-color: #b3b3b3 ;
}