.busqueda-colonia-container {
  font-size: var(--font-size-button);

  &__main-trigger {
    background-color: #424242;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 0%;
    padding: 0.25em 1em !important;
    height: 3.65vh;

  }

  &__main-indicator {
    color: white;
  }

  &__itemContent {
    background-color: #f5f5f5;
    padding: 0rem;
    border-radius: 0%;
    //height: 7.9rem;
  }

  &__input {
    padding: 0.25em 1em;
    border-radius: 0rem;
    font-size: var(--font-size-button);
  }

  &__itemBody {
    display: flex;
    flex-direction: column;
  }

  &__coloniaList {
    padding: 0em 0.5em;
    border-radius: 0rem;
    font-size: var(--font-size-button);
    border-radius: 0rem;
  }

  &__checkbox {
    margin-left: 0rem;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0.4em 0.5em;
    font-size: var(--font-size-button);
  }

  &__checkboxLabel {
    white-space: nowrap;
    word-break: break-word;
    max-width: 100%;
    display: block;
    font-size: var(--font-size-button);
  }
}

.chakra-accordion__itemContent {
  transition: all 0.3s ease-in-out;
}

.busqueda-colonia-container__main-trigger:hover {
  background: #363636 !important;
  cursor: pointer;
  border-color: #363636;
}

.custom-green-checkbox .chakra-checkbox__control[data-state="checked"] {
  background: #a2b687;
  border-color: #a2b687;
}

.busqueda-colonia-container__itemBody {
  scrollbar-width:thin; 
  scrollbar-color: #b2b2b2 ; 

  &::-webkit-scrollbar {
    width: 6px;
    background: #f5f5f5;
  }
}