.colonias {
  font-size: var(--font-size-body);

  .accordion {
    //border-radius: 0.5em;
    border-radius: 0.3vw;
    font-size: var(--font-size-body);

    &__item {
      background-color: var(--background-d1);
    }

    &__trigger {
      background-color: #424242;
      color: white;
      //border-radius: 0.3em;
      border-radius: 0.3dvw;
      padding: 0.25em 1em !important;
      height: 3.65vh;
    }

    &__indicator {
      color: white;
    }

    &__itemContent {
      background-color: var(--background-d1);
      padding: 0rem;
      border-radius: 0%;
      color: black;
    }

    &__itemBody {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    &__searchBar {
      padding: 0;
      border-bottom: 1px solid gray;
    }

    &__input {
      padding: 0 0.8em;
      border: none;
      height: 3em;
      border-radius: 0rem;
      font-size: var(--font-size-button);
    }

    &__coloniaList {
      padding: 0em 0.5em;
      border-radius: 0rem;
      font-size: var(--font-size-button);
      border-radius: 0rem;
    }

  }

  .checkbox-container {
    padding: 0 0.8em;
    display: flex;
    align-items: center;

    .checkbox {
      width: 100%;
      height: 100%;
      
    }

    .checkbox_content {
      display: flex;
      align-items: center;
      gap: 0.4vw;
      
      .label {
        font-size: var(--font-size-button);
        flex: 1;
        line-height: 1.2;
        text-transform: lowercase;
        
      }
      
    }

  }
}
.colonias__main-trigger:focus,
.colonias__main-trigger:focus-visible,
.colonias__main-trigger:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}


.chakra-accordion__itemContent {
  transition: all 0.3s ease-in-out;
}

.busqueda-colonia-container__main-trigger:hover {
  background: #363636 !important;
  cursor: pointer;
  border-color: #363636;
}

.custom-green-checkbox .chakra-checkbox__control[data-state="checked"] {
  background: #a2b687;
  border-color: #a2b687;
}

.accordion__coloniaList {
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
}