:root {
  --first-quadrant-color: #b5c48d;   
  --second-quadrant-color: #d3b2a3;  
  --third-quadrant-color: #b29ab1;   
  --fourth-quadrant-color: #a3c9c7;  
}


.quadrant-menu {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-subtitle);
  font-family: 'Roboto Mono';
  font-weight: 700;
}


.quadrant-menu__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fefdfc;
  width: min(24dvh, 14dvw);
  height: min(24dvh, 14dvw);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;

  display: flex;         
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-size-header);
}


.quadrant-menu__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: min(45dvh, 26.3dvw);
  margin: 0 auto;
  gap: min(2.5dvh, 1.5dvw);
  position: relative;
}



.quadrant-menu__grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
  //height: 40dvh;
}

.quadrant-menu__item {
  position: relative;
  width: 100%;
  height: 100%;
  border: "none";
  font-size: var(--font-size-body);
  font-weight: bold;
  padding: 0;
  outline: none;
  justify-content: center;
  align-items: center;
}
.quadrant-menu__item--selected,
.quadrant-menu__item--selected:hover,
.quadrant-menu__item:hover {
  border: 1px solid #c4c4c4;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.quadrant-menu__item:focus,
.quadrant-menu__item:focus-visible {
  outline: none !important;
  //border-color: transparent !important;
}

.quadrant-menu__item-title {
  position: absolute;
  color: white;
  font-size: var(--font-size-header);
}

/* Custom colors */
.quadrant-menu__item-0 .quadrant-menu__item {
  background-color: var(--first-quadrant-color);
  border-top-right-radius: 30% 40%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.quadrant-menu__item-1 .quadrant-menu__item {
  background-color: var(--second-quadrant-color);
  border-top-left-radius: 30% 40%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}
.quadrant-menu__item-2 .quadrant-menu__item {
  background-color: var(--third-quadrant-color);
  border-bottom-right-radius: 30% 40%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.quadrant-menu__item-3 .quadrant-menu__item {
  background-color: var(--fourth-quadrant-color);
  border-bottom-left-radius: 30% 40%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

/* Text alignment */
.quadrant-menu__item-0 .quadrant-menu__item-title {
  text-align: left;
  top: min(1.5dvh, 0.9dvw);
  left: min(2dvh, 1.2dvw);
}

.quadrant-menu__item-1 .quadrant-menu__item-title {
  text-align: right;
  top: min(1.5dvh, 0.9dvw);
  right: min(2dvh, 1.2dvw);
}

.quadrant-menu__item-2 .quadrant-menu__item-title {
  text-align: left;
  bottom: min(1.5dvh, 0.9dvw);
  left: min(2dvh, 1.2dvw);
}

.quadrant-menu__item-3 .quadrant-menu__item-title {
  text-align: right;
  bottom: min(1.5dvh, 0.9dvw);
  right: min(2dvh, 1.2dvw);
}

.quadrant-menu__item-details {
  // border: 1px solid #ccc;
  // border-radius: 8px;
  //border: 2px solid red;
  position: absolute;
  // background-color: rgba(112, 10, 10, 0.9);
  //top: 420px; // position below the circle
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 1rem;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

.quadrant-description {
  font-size: var(--font-size-subtitle);
  font-family: 'Roboto';
  font-weight: 300;
}

.quadrant-title {
  font-size: var(--font-size-header);
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
/* dynamic title colors */
.quadrant-title--0 {
  color: var(--first-quadrant-color);
}
.quadrant-title--1 {
  color: var(--second-quadrant-color);
}
.quadrant-title--2 {
  color: var(--third-quadrant-color);
}
.quadrant-title--3 {
  color: var(--fourth-quadrant-color);
}

@media (max-width: 800px) {
  .quadrant-menu__header {
    width: min(24dvh, 20dvw); //ajuste el dvw no el dvh, no se si hacer tmb el dvh
    height: min(24dvh, 20dvw);
  }
  .quadrant-menu__grid {
    height: min(45dvh, 35dvw);
  }
}