:root {
  --first-quadrant-color: #b5c48d;   
  --second-quadrant-color: #d3b2a3;  
  --third-quadrant-color: #b29ab1;   
  --fourth-quadrant-color: #a3c9c7;  
}


.quadrant-menu {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: #f9f9f9; 
  background-color: transparent;
  width: 100%;
}


.quadrant-menu__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fefdfc;
  width: 200px;         
  height: 200px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;

  display: flex;         
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}


.quadrant-menu__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  //width: 500px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  gap: 1rem;
  position: relative;
  //outline: none;
}

.quadrant-menu__grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
}

.quadrant-menu__item {
  position: relative;
  width: 100%;
  height: 100%;
  border: "none";
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  outline: none;
  justify-content: center;
  align-items: center;
}

.quadrant-menu__item-title {
  position: absolute;
  color: white;
  font-size: 20px;

}

/* Custom colors */
.quadrant-menu__item-0 .quadrant-menu__item {
  background-color: var(--first-quadrant-color);
  border-top-right-radius: 40% 50%;
  //text-align: left;
}
.quadrant-menu__item-1 .quadrant-menu__item {
  background-color: var(--second-quadrant-color);
  border-top-left-radius: 40% 50%;
}
.quadrant-menu__item-2 .quadrant-menu__item {
  background-color: var(--third-quadrant-color);
  border-bottom-right-radius: 40% 50%;
}
.quadrant-menu__item-3 .quadrant-menu__item {
  background-color: var(--fourth-quadrant-color);
  border-bottom-left-radius: 40% 50%;
}

/* Text alignment */
.quadrant-menu__item-0 .quadrant-menu__item-title {
  text-align: left;
  top: 1rem;
  left: 1rem;
}

.quadrant-menu__item-1 .quadrant-menu__item-title {
  text-align: right;
  top: 1rem;
  right: 1rem;
}

.quadrant-menu__item-2 .quadrant-menu__item-title {
  text-align: left;
  bottom: 1rem;
  left: 1rem;
}

.quadrant-menu__item-3 .quadrant-menu__item-title {
  text-align: right;
  bottom: 1rem;
  right: 1rem;
}

.quadrant-menu__item-details {
  // border: 1px solid #ccc;
  // border-radius: 8px;
  border: 2px solid red;
  position: absolute;
  // background-color: rgba(112, 10, 10, 0.9);
  //top: 420px; // position below the circle
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 1rem;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

/* dynamic title colors */
.quadrant-title--0 {
  color: var(--first-quadrant-color);
}
.quadrant-title--1 {
  color: var(--second-quadrant-color);
}
.quadrant-title--2 {
  color: var(--third-quadrant-color);
}
.quadrant-title--3 {
  color: var(--fourth-quadrant-color);
}
