.footer-container {
  height: min(13dvh, 15dvw);
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0 2.5dvw;

  &__background {
    position: absolute;
    //height: auto;
    right: 0;
    height: 100%;
    z-index: 1;
  }
  &__content {
    display: flex;
    gap: 3dvw;
    z-index: 1;
  }
  &__logo-box {
    height: 85%;
    width: 20dvw;
    border: 1px solid red;
    padding: 0.5dvw;
  }
  &__logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}

@media (max-width: 800px) {
  .footer-container {
    justify-content: center;
    //padding: 0 5dvw;
    padding: 0;
    &__content {
      gap: 0;
      align-items: center;
    }
    &__image {
      height: 85%;
      width: auto;
    }
  }
}