.footer-container {
  height: min(13dvh, 15dvw);
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 0 2.5dvw;

  &__background {
    position: absolute;
    //height: auto;
    right: 0;
    height: 100%;
    z-index: 1;
  }
  &__content {
    display: flex;
    gap: 3dvw;
    z-index: 1;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}