.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  padding: 4dvh 12dvw 4dvh 4dvw;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32dvw;
  font-family: 'Roboto Mono';
  font-weight: 700;

  &__button {
    position: relative;
    //height: min(15dvh, 8dvw);
    height: 15dvh;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: var(--font-size-header);
    white-space: pre-line;
    border-radius: var(--border-radius);
    border: 1px solid var(--background-dark);
    color: black;
    line-height: 1.2;
    transition: box-shadow 0.05s ease;
    background-color: var(--background);

    &:hover,
    &--selected {
      box-shadow: 0px 6px 6px  rgba(0, 0, 0, 0.25);
    }
  }
  

  &__icon {
    position: absolute;
    width: min(8dvh, 6dvw);
    height: min(8dvh, 6dvw);
    right: calc(-0.5 * min(8dvh, 6dvw));
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cardContainer {
  width: 47dvw;
}

.speed-dial {
  position: absolute;
  right: 4dvw;
  bottom: 18dvh;
  gap: 2.5dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__item {
    button {
      cursor: pointer;
      display: inline-flex;
      border-radius: 2dvw 99px 99px 2dvw;
      padding: 0 0 0 1dvw;
      align-items: center;
      background-color: transparent;
      transition: all 0.3s ease;

      .button-text {
        font-size: var(--font-size-body);
        opacity: 0;
        visibility: hidden;
        margin-right: 0;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        transition: all 0.3s ease;
      }

      .icon {
        height: min(4.09dvw, 7dvh);
        width: min(4.09dvw, 7dvh);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition: transform 0.3s ease;

        img {
          max-width: 90%;
          max-height: 90%;
          object-fit: contain;
        }
      }
    }
  }
}

.speed-dial__item button:hover,
.speed-dial__item button:focus,
.speed-dial__item button:focus-visible {
  outline: none !important;
  border-color: transparent !important;
  .icon {
    transform: scale(1.1);
    background-color: #f5ede3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .button-text:not(.hidden) {
    visibility: visible;
    opacity: 1;
    margin-right: 1dvw;
  }
  .button-text {
    opacity: 0;
    visibility: hidden;
  }
}

.speed-dial__item button:hover:not(:has(.button-text.hidden)){
  background-color: #f5ede3;
  border: 1px solid #f5ede3;
}


.subtitle-card {
  font-size: var(--font-size-header);
  font-family: 'Roboto Mono';
  font-weight: 700;
}
.bodytext-card {
  font-size: var(--font-size-subtitle);
  //font-family: 'Roboto';
  font-weight: 300;
}

@media (max-width: 800px) {
  .body {
    flex-direction: column;
    //padding: min(12dvw, 6dvh) 4dvw min(12dvw, 6dvh) 4dvw;
    gap: 4dvh;
  }
  .buttonColumn {
    width: 100%;
    flex: 1;

    &__button {
      height: min(12dvh, 25dvw);
      font-size: min(2dvh, 3.2dvw);
    }
    &__icon {
      width: min(6dvh, 5dvw);
      height: min(6dvh, 5dvw);
      right: calc(-0.5 * min(6dvh, 5dvw));
    }
  }
  .buttonColumn--single {
    flex: none;
  }
  .cardContainer {
    width: 100%;
    height: 100%;
  }
  .subtitle-card {
    font-size: min(2dvh, 3.2dvw);
  }
}