.body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 4dvh 12dvw 4dvh 4dvw;
  gap: 4dvw;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32dvw;
  font-size: var(--font-size-header);
  font-family: 'Roboto Mono';
  font-weight: 700;
  gap: 6dvh;

  &__button {
    position: relative;
    //height: 15dvh;
    flex: 1;
    display: flex;
    align-items: center;
    white-space: pre-line;
    border-radius: var(--border-radius);
    border: 1px solid var(--background-dark);
    background-color: var(--background);
    color: black;
    line-height: 1.2;
    transition: box-shadow 0.05s ease;

    &:hover,
    &--selected {
      box-shadow: 0px 6px 6px  rgba(0, 0, 0, 0.25);
    }
  }
  
  &__icon {
    position: absolute;
    width: min(8dvh, 6dvw);
    height: min(8dvh, 6dvw);
    right: calc(-0.5 * min(8dvh, 6dvw));
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--background);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.cardContainer {
  //width: 47dvw;
  flex: 1;
  min-width: 0;
}

.speed-dial {
  position: absolute;
  right: calc(5.5dvw - 0.5 * min(6.8dvh, 4dvw));
  bottom: min(5dvh, 3dvw);
  gap: min(2.5dvh, 1.4dvw);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__item {
    button {
      cursor: pointer;
      display: inline-flex;
      border-radius: 2dvw 99px 99px 2dvw;
      padding: 0 0 0 0.5dvw;
      align-items: center;
      background-color: transparent;
      transition: all 0.3s ease;

      .button-text {
        font-size: var(--font-size-body);
        opacity: 0;
        visibility: hidden;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        transition: all 0.3s ease;
      }

      .icon {
        height: min(6.8dvh, 4dvw);
        width: min(6.8dvh, 4dvw);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        transition: transform 0.3s ease;

        img {
          width: 100%;
          height: 100%;
          //object-fit: cover;
          object-fit: contain;
        }
      }
    }
  }
}

.speed-dial__item button:hover,
.speed-dial__item button:focus,
.speed-dial__item button:focus-visible {
  outline: none !important;
  border-color: transparent !important;
  .icon {
    transform: scale(1.1);
    background-color: #f5ede3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .button-text:not(.hidden) {
    visibility: visible;
    opacity: 1;
    margin-right: 0.5dvw;
  }
  .button-text {
    opacity: 0;
    visibility: hidden;
  }
}

.speed-dial__item button:hover:not(:has(.button-text.hidden)){
  background-color: #f5ede3;
  border: 1px solid #f5ede3;
}


.subtitle-card {
  font-size: var(--font-size-header);
  font-family: 'Roboto Mono';
  font-weight: 700;
}
.bodytext-card {
  font-size: var(--font-size-subtitle);
  font-weight: 300;
}

@media (max-width: 800px) {
  .body {
    flex-direction: column;
    gap: 4dvh;
    padding-left: 7dvw;
    padding-right: 15dvw;
  }
  .buttonColumn {
    width: 100%;
    flex: 1;
    gap: 0;

    &__button {
      flex: none;
      height: min(12dvh, 25dvw);
      font-size: min(2dvh, 3.2dvw);
    }
    &__icon {
      width: min(7dvh, 8dvw);
      height: min(7dvh, 8dvw);
      right: calc(-0.5 * min(7dvh, 8dvw));
    }
  }
  .buttonColumn--single {
    flex: none;
  }
  .cardContainer {
    min-height: 0;
  }
  /*.subtitle-card {
    font-size: min(4dvh, 3.2dvw);
  }*/

  .speed-dial {
    right: calc(7.5dvw - 0.5 * min(6dvh, 7dvw));
    bottom: 3.5dvh;
    gap: 2dvh;
    &__item {
      button {
        .icon {
          height: min(6dvh, 7dvw);
          width: min(6dvh, 7dvw);
        }
      }
    }
  }
}