.legend {

    &__title {
        font-size: var(--font-size-header);
        margin: 0 0 0.5rem 0;
        color: var(--primary);
        text-transform: uppercase;

        width: 100%;
        text-align: left;
        border-bottom: 2px solid var(--secondary);
    }
}

.legend-container{
    pointer-events: auto;

    position: absolute;
    right: 5rem; 
    bottom: 1.5rem;  
}

.legend-container {
    display: flex;
   
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    width: 12rem;;
    padding: 15px;
    background-color: var(--background);
    border-radius: var(--border-radius);
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%; 
}

.legend-item-heat{
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.legend-body-heat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}


.legend-text {
    font-size: 14px;
    flex: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.legend-body {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.colorBox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #00000039;
}

.colorBoxHeat {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 1px solid #00000039;
}

.legend-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}