.legend {
  position: absolute;
  right: min(3dvh, 1.75dvw);
  bottom: min(3dvh, 1.75dvw);
  width: min(29.30dvh, 17.13dvw);
  min-height: min(24.3dvh, 14.22dvw);
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: var(--border-radius);

  &__title {
    font-size: var(--font-size-body);
    color: white;
    padding: min(1dvh, 1dvw) min(2dvh, 1dvw);
    text-transform: lowercase;
  }
}

.legend-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: min(1.5dvh, 1dvw) min(2dvh, 1dvw);
  gap: 0.5dvw;
}

.categoricalStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80px;

  &__box {
    width: min(2dvh, 1dvw);
    height: min(2dvh, 1dvw);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.04);
  }
}

.legend-ranges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    font-size: var(--font-size-button);
    height: min(2dvh, 1dvw);
    display: flex;
    align-items: center;
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }
}

$tematicas: (
  ambiental: var(--ambiental-primary),
  industria: var(--industria-primary),
  equipamiento: var(--equipamiento-primary),
  poblacion: var(--poblacion-primary)
);

@each $key, $color in $tematicas {
  .legend--#{$key} {
    border: 2px solid #{$color};
  }
  .legend__title--#{$key} {
    background-color: #{$color};
  }
}