.tooltip {
    position: absolute;
    z-index: 0;
    background-color: rgba(254,253,252,0.9);
    border: 1px solid var(--background-dark);
   // padding: 0 0.5dvw;
    border-radius: var(--border-radius);
    font-size: var(--font-size-body);
    //min-width: 13dvw;
    //max-height: 20dvw;
    max-width: 25dvw;
    overflow-y: auto;

    &__title {
      font-size: var(--font-size-button);
      font-weight: 500;
      padding: min(1dvh, 0.8dvw);
    }
}

.table {
    font-size: var(--font-size-button);
    &__header {
      min-height: 0 !important;
      margin: 0;
    }
    &__row {
      background-color: transparent;
    }
}

//.table .chakra-table__row,
.table .chakra-table__cell {
  padding: 0 1dvw;
}

/////
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-button);

  th {
    background-color: var(--background-dark);
    color: white;
    padding: min(1dvh, 0.8dvw);
    text-align: center;
  }
  tr {
    border-bottom: 1px solid var(--background-dark);
  }

  td {
    padding: min(1dvh, 0.8dvw);
    align-items: center;
  }

  .table__footer {
    font-weight: bold;
    background-color: var(--background-light);
    text-align: center;
  }

  tr:hover{
    background-color: var(--background-medium);
  }
}