:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-primary: #40423d;

  --background: #fefdfc;
  --background-d1: #F1EFEE;
  --background-d2: #c4c4c4;

  --ambiental-primary: #a2b28b;
  --industria-primary: #C6AFA7;
  --equipamiento-primary: #9C8C97;
  --poblacion-primary: #87A49F;

  --border-radius: 0.5rem;

  --font-size-title: 50px;
  --font-size-header: 30px;
  --font-size-subtitle: 22px;
  --font-size-body: 20px;
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

body {
  width: 100vw;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

