.popUp {
    font-family: 'Space Mono', monospace;

}
.title {
    font-size: var(--font-size-header);
    font-weight: bold;
}

.download-button {
    border: none;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: transparent;
    color: black;
    border-radius: 50%;
    padding: 0;
}

.download-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.popUp-button:hover {
    border-color: transparent !important;
}

.popUp-button:focus,
.popUp-button:focus-visible,
.download-button:focus,
.download-button:focus-visible {
   outline: none !important;
}
