.capas-base-container {

  &__itemContent {
    padding: 0;
   // border-radius: 0;
    transition: none;
  }

  &__itemBody {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    padding: 1dvh 0.8dvw;
  }
}

.chakra-accordion__itemContent {
  transition: all 0.3s ease-in-out;
}