.capas-base-container {
  font-size: var(--font-size-button);

  &__main-trigger {
    background-color: #424242;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 0%;
    padding: 0.25em 1em !important;
    height: 3.65vh;
  }

  &__main-indicator {
    color: white;
  }

  &__itemContent {
    background-color: #f5f5f5;
    padding: 0rem;
    border-radius: 0%;
  }

  &__itemBody {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__checkboxContent {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__checkboxLabel {
    font-size: var(--font-size-button);
  }

}

.chakra-accordion__itemContent {
  transition: all 0.3s ease-in-out;
}

.capas-base-container__main-trigger:hover {
  background: #363636 !important;
  cursor: pointer;
  border-color: #363636;
}

.custom-green-checkbox .chakra-checkbox__control[data-state="checked"] {
  background: #a2b687;
  border-color: #a2b687;
}

.chakra-checkbox__control[data-state="unchecked"] {
  border-color: rgb(112, 112, 112);
  background: #d1d1d1da !important; // o el color que quieras para unchecked
}