.layerCard {
  background-color: var(--background);
  padding: min(1.1dvh, 0.7dvw);
  border: 0.15em solid;
  border-radius: var(--border-radius);

  &__header {
    font-size: var(--font-size-subtitle);
    font-weight: 500;
    color: white;
    text-transform: lowercase;
    padding: min(0.8dvh, 0.5dvw);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;

    &__title {
      flex: 1;
    }
    &__icon {
      font-size: var(--font-size-header);
    }
  }

  &__body {
    padding: min(0.8dvh, 0.5dvw);
    font-size: var(--font-size-body);
  }
}

.graph {
  display: flex;
  height: 40dvh;
  max-height: 250px;
  width: 100%;
  flex-direction: column;
  //border: 1px solid red;
  &__title {
    text-align: left;
    font-size: var(--font-size-subtitle);
    font-weight: bold;
  }
}

.description-bold {
  font-style: normal;
  font-weight: bold;
}

$tematicas: (
  ambiental: var(--ambiental-primary),
  industria: var(--industria-primary),
  equipamiento: var(--equipamiento-primary),
  poblacion: var(--poblacion-primary)
);

@each $key, $color in $tematicas {
  .layerCard--#{$key} {
    border-color: #{$color};
  }
  .layerCard__header.layerCard--#{$key} {
    background-color: #{$color};
  }
}

@media (max-width: 800px) {
  .layerCard {
    padding: 1.5dvw;
    //display: flex;
    //flex-direction: column;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 20;
    &__header {
      //padding: min(0.5dvh, 1dvw);
      padding: 1dvw;
      &__icon {
        font-size: min(4dvh, 5dvw);
      }
    }
    &__body {
      padding: 1.5dvw;
    }
  }
}