.layerCard {

    background-color: var(--background);
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 0.4rem;
    border-color: var(--ambiental-primary);
    //margin-bottom: 1rem;
    height: auto;
    

    &__cardTitle {
        margin-bottom: 0.5rem;
        color: white;
        padding: 0.5rem;
        border-radius: 2px;
        //text-align: center;
        font-size: var(--font-size-subtitle);
        text-transform: lowercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;
    }

    &__layerCardBody {
        padding: 0.5rem;
        font-size: var(--font-size-body);
    }

    &__source {
        font-size: var(--font-size-button);
        font-weight: bold;
    }

}